body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }

  header a:hover {
    text-decoration: underline;
  }

  .container {
    padding-top: 60px; /* Adjusted to account for fixed header */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .box {
    width: calc(33.33% - 20px);
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .box:hover {
    background-color: #0056b3;
  }

  a {
    text-decoration: none;
    text-align: center;
  }

  .back-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .back-button:hover {
    background-color: #218838;
  }

  @media screen and (max-width: 768px) {
    .box {
      width: 100%;
    }

    .back-button {
      width: 100%;
    }
  }